/* *********************index-start****************** */
@media only screen and (max-width: 960px) {
    .banner {
        flex-flow: wrap column;
    }

}

/* **********tablet*********** */
@media only screen and (max-width: 768px) {

    nav .navbtn {
        display: block;
        font-size: 25px;
        color: #fff;
    }

    nav ul {
        width: 100%;
        height: auto;
        background: #2E3C4D;
        position: absolute;
        top: 100%;
        left: -100%;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        text-align: center;
        transition: all 0.5s;
    }
 
    nav ul li a {
        padding: 0.5rem;
        display: block;
        color: rgb(255, 251, 251);
        font-size: 17px;
    }
    nav ul li:hover {
        background: rgb(219, 215, 215);
    }

    nav ul li:hover a {
        color: rgb(0, 0, 0);
    }

    nav ul li a::after {
        border: 0;
    }

    #click:checked~ul {
        left: 0;
    }

    #click:checked~label i::before {
        content: '\f00d';
        display: block;
    }

    /* *********************index-end****************** */
    /* **********************blog************** */


}

/* **********mobile*********** */

@media only screen and (max-width: 560px) {

    .navbar{
        padding: 1.5rem 8%;
    }
    #discount h1 {
        font-size: 1.8rem;
    }

    #discount .enroll a {
        width: 35%;
    }

    #discount .dis-heading h1 {
        font-size: 1.6rem;
    }

    .footer-link {
        flex-direction: column;
    }

    .footer-link ul {
        padding: 1rem 0;
    }

    /* *********************index-end****************** */
    /* **********************blog************** */

    
        .blog-content .blog {
            flex-direction: column;
            text-align: center;
            margin-bottom: 1rem;
            border: 2px solid;
            border-radius: 10px;
        }
        .blog-content .blog2,.blog-content .blog4 {
            flex-direction: column-reverse;
        }
        .blog-content .blog-text {
            padding: 1rem;
        }
}